NEXT_PUBLIC_HACKCLUB_AUTH_URL=https://draw-dino-auth.hackclub.com/update-github-url

# Required by pages/api/github/exchange.js
NEXT_PUBLIC_GITHUB_CLIENT_ID=your_github_oauth_app_client_id_prod
GITHUB_CLIENT_SECRET=your_github_oauth_app_client_secret_prod
