HACKCLUB_CLIENT_ID=your_hackclub_client_id_dev
HACKCLUB_CLIENT_SECRET=your_hackclub_client_secret_dev
HACKCLUB_REDIRECT_URI=http://localhost:3001/oauth/callback
PASSPORT_SESSION_SECRET=replace_with_a_long_random_secret
WEBHOOK_URL=https://hooks.zapier.com/hooks/catch/your_hook_id/your_token/
NEXT_PUBLIC_HACKCLUB_AUTH_URL=http://localhost:3001/update-github-url
