HACKCLUB_CLIENT_ID=your_hackclub_client_id_prod
HACKCLUB_CLIENT_SECRET=your_hackclub_client_secret_prod
HACKCLUB_REDIRECT_URI=https://draw-dino-auth.hackclub.com/oauth/callback
PASSPORT_SESSION_SECRET=replace_with_a_long_random_secret
